wp-config.php
download/
wp-content/debug.log
wp-content/uploads/[:digit:]
/images/
/download/
/.jshintrc
/admin.php.bak
/cpasadmin.php.bak1
/cpasadmin.php.bak2
/cpasadmin.php.bak20190429
/cpasadmin.php.bak20190430
/cpasadmin.php.test20190901
/cpasadmin-20190227.php.bak
/cpasadmin-20200315.php
/cpasadmin-20200712.php
/cpasadmin-bak-20200614.php
/cpasadmin-bak-20200615.php
/cpasdmin.php.bak3
/cpasdmin-20200316.php
/index.html
/php_errors.log
/php_errors.log.bak
/php_xdebug.php
/wp-config.php.bak
wp-content/uploads/*
wp-content/plugins/elementor/*
wp-content/themes/twentytwentyfive/*
wp-content/debug.log
wp-content/ai1wm-backups/*


